/* ====================== Map ====================== */
#map {
  height: 250px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options{
	display: flex;
	flex-wrap: wrap;
	height: 150px;
}
.filter-options h2 {
	padding-top: 15px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list li {
  min-height: 100px;
  max-width: 100%;
}