/* ====================== Map ====================== */
#map {
  height: 250px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options{
	display: flex;
	flex-wrap: wrap;
	height: 100px;
}
.filter-options h2 {
	padding-top: 15px;
	width: 100%;
}
.filter-options select{
  width: 42%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list li {
  min-height: 100px;
  max-width: 23%;
  padding: 12px 18px 12px;
}
#restaurants-list li:hover,:focus{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#restaurants-list li a {
	width: 100%;
	padding: 8px 1px 8px;
}
.inside #footer {
  position: relative;
}
#breadcrumb{
  width: 56%;
  margin-top: 50px;
  padding: 10px 0px 16px 1%;
  text-align: left;
}
.inside #map-container{
  width: 43%;
  height: 100%;
}